.input-wrapper {
    background-color: #1c1c1c;
    width: 100%;
    border-radius: 20px;
    height: 2rem;
    padding: 0 15px;
    box-shadow: 0px 0px 3px;
    display: flex;
    align-items: center;
  }
  
  .searchbox {
    background-color: transparent;
    border: none;
    height: 100%;
    font-size: 1rem;
    width: 100%;
    margin-left: 5px;
    color: #ffffff;
  }
  
  .searchbox::placeholder {
    color: #a8a8a8;
  }
  
  .searchbox:focus {
    outline: none;
  }
  
  #search-icon {
    color: #E50914;
  }

  input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
    /* background-color: red;  */
    /* color: #E50914;  */
  }
  
  @media screen and (max-width:600px) {
    .searchbox{
      width: 60%;
    }
    .input-wrapper{
      width: 60%;
      margin-left: 80px;
    }


  }